beautifulsoup4==4.12.3
functions-framework==3.10.2
google-cloud-storage==2.18.2
google-cloud-bigquery==3.25.0
google-cloud-resource-manager==1.14.2
numpy==1.26.3
pandas==2.2.2
PyYAML==6.0.2
curl-cffi==0.7.2
duckdb==1.1.0
pyarrow==17.0.0
google-generativeai==0.8.3
pdfplumber==0.11.4
pypdf==5.1.0
